.history {
  flex-direction: column;
  justify-content: start;
}
.history .header {
  display: flex;
  border-bottom: 3px solid var(--border);
  align-items: center;
}
.history .body {
  margin-top: 1rem;
}
.header button {
  border-radius: 4px;
  height: 1.6rem;
  margin: 1rem;
  padding: 0rem .3rem;
  background-color: #434343;
}
.header button:hover {
  background-color: var(--border);
}
ul {
  list-style: none;
}
.score {
  text-align: center;
}
.score span {
  font-weight: bold;
}
.history .win {
  color: greenyellow;
}
.history .lose {
  color: orangered;
}